.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?cs=srgb&dl=fruit-salads-in-plate-1640774.jpg&fm=jpg");
  background-size: cover;
}
